// General Classes

.container-row-center {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: nowrap;
}

.container-row-center-wrap {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
}

.container-row-around {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: baseline;
      flex-wrap: nowrap;
}

.container-row-around-wrap {
      width: 100%;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: baseline;
      flex-wrap: wrap;
}

.container-col-center {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
}

.articles {
      width: 250px;
      height: 220px;
      margin: 0 20px;
      border: 1px solid $lightdark;
      border-top: 3px solid red;
      cursor: default;
      transition: all .3s;
}

.articles:hover {
      box-shadow: 5px 5px 10px 5px $lightdark;
}

.red {
      color: red;
}

.not-displayed {
      display: none;
}
