h1 {
      font-size: 70px;
      color: black;
      margin-bottom: 20px;
      cursor: default;

      span {
            margin: 0 2px;
            color: black;
            transition: all .4s;
      }
      span:hover {
            color: red;
      }
}