h1 {
      font-size: 70px;
      color: $dark;
      margin-bottom: 20px;
      cursor: default;

      span {
            margin: 0 2px;
            color: $dark;
            transition: all .4s;
      }
      span:hover {
            color: red;
      }
}

h2 {
      width: calc(100% + 200px); // Padding in sections
      transform: translateX(-100px);
      padding: 20px 100px;
      margin-bottom: 60px;
      background-color: #444;
      background: linear-gradient(90deg, rgba(34,34,34,1) 29%, rgba(170,170,170,1) 78%, rgba(255,255,255,1) 100%);
      color: white;
}

h3 {
      color: $dark;
      text-align: center;
      padding-bottom: 10px;
      border-bottom: 1px solid $lightdark;
}

h4 {
      color: $dark;
      font-size: 26px;
      margin-bottom: 30px;
}