@import "_reset.scss";
@import "_mixins.scss";
@import "_responsive.scss";
@import "_colors.scss";
@import "_headings.scss";
@import "_classes.scss";

body {      
      header {
            position: fixed;
                  top: 0;
                  left: 0;
            width: 100%;
            z-index: 99;
            background-color: $dark;
            color: white;

            nav {
                  height: 100%;
                  padding: 10px 50px 10px 50px;
                  font-size: 18px;

                  ul {
                        
                        li {
                              cursor: pointer;

                              a, a:visited, a:active {
                                    padding: 5px 10px 5px 0;
                                    color: white;
                                    text-decoration: none;
                              }
                        }

                        li.nav-header {
                              font-size: 30px;
                              font-weight: bold;
                              margin-right: 300px;
                        }

                        li.nav-links:before {
                              $circle-size: 10px;
                              content: "";
                              display: inline-block;
                              width: $circle-size;
                              height: $circle-size;
                              border-radius: $circle-size;
                              background-color: transparent;
                              margin-right: 10px;
                              transition: all .3s;
                        }

                        li.nav-links::after {
                              content: "";
                              display: block;
                              width: 0%;
                              height: 2px;
                              background-color: white;
                              margin-top: 5px;
                              transition: all .4s;
                        }

                        li:hover::after, li:focus::after {
                              width: 100%;
                        }

                        li:hover::before, li:focus::before {
                              background-color: red;
                        }
                  }
            }
      }

      main {
            #section-top {
                  height: calc(85vh - 70px); // 100vh - header.height

                  aside {
                        width: 35%;
                        height: 100%;
                        $border: 1px solid transparent;
                        border-right: $border;
                        border-bottom: $border;
                        border-bottom-right-radius: 100px;

                        background-image: url("../img/profil.png");
                        background-position: center;
                        background-repeat: no-repeat;
                        background-size: cover;
                  }

                  div {
                        width: 65%;
                        ul {
                              margin-left: 30px;
                              padding: 10px 0 10px 30px;
                              border-left: 4px solid $dark;

                              li {
                                    font-size: 26px;
                              }
                        }  

                        button {
                              font-size: 18px;
                              font-weight: bold;
                              background-color: transparent;
                              color: red;
                              border: 2px solid red;
                              border-radius: 50px;
                              margin-top: 100px;
                              padding: 12px 24px;

                              cursor: pointer;

	                        animation: scale-up-center 0.6s ease-in-out infinite alternate-reverse both;
                        }

                  }
            }

            section:not(#section-top) {
                  padding-left: 100px;
                  padding-right: 100px;
            }

            #section-who {

                  article.personality {
                        padding: 20px;
                        margin: 0 25px 50px 25px;
                        border: 1px solid $lightdark;
                        border-top: 3px solid red;

                        width: 350px;
                        height: 300px;
                  }
            }

            blockquote {
                  background-color: #EEE;
                  padding: 30px 50px;
                  font-style: italic;
                  width: 100vw;

                  p {
                        width: max-content;
                        word-break: break-all;
                        font-size: 22px;
                        color: $dark;
                        margin-left: auto;
                        margin-right: auto;
                        margin-bottom: 20px;
                        text-align: center;
                  }

                  p::before, p::after {
                        content: '"';
                  }

                  footer {
                        background-color: transparent;
                        height: max-content;
                        color: #555;
                        margin: 0;
                        margin-left: auto;
                        margin-right: auto;
                        padding: 0;
                        font-size: 18px;
                        text-align: right;
                  }

                  footer::before {
                        content:"—";
                  }

            }

            #section-skills {
                  padding-bottom: 30px;
                  #tech-list {
                        order: 1;
                  }

                  #dev-list {
                        order: 2;
                  }

                  #soft-list {
                        order: 3;
                  }

                  ul {
                        width: auto;
                        padding: 20px 30px;

                        li:not(.skills-heading) {
                              display: flex;
                              align-items: center;
                              width: auto;
                              margin: 0 auto;
                              padding: 10px;
                              height: max-content;

                              font-size: 20px;
                              font-style: italic;
                              font-weight: bold;

                              img {
                                    width: 60px;
                                    height: auto;
                                    max-height: 60px;
                                    margin-right: 20px;

                                    transition: all 1s;
                              }
                        }

                        li:not(.skills-heading):hover {
                              img {
                                    transform: rotate(270deg);
                              }
                        }
                  }
            }
            
            #section-portfolio, #section-blog {
                  ul {
                        .show-more {
                              margin: auto 0;
                              a {
                                    i {
                                          color: $lightdark;
                                          font-size: 60px;
                                          transition: all .6s;
                                    }

                                    i:hover {
                                          color: red;
                                          transform: rotate(360deg);
                                    }
                              }
                        }
                  }

            }

            
      }

      footer {
            background-color: $dark;
            color: white;
            padding: 20px 50px;
            margin-top: 50px;
            text-align: center;
      }

}

// ANIMATIONS

@keyframes scale-up-center {
      0% {
                transform: scale(1);
                box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
      }
      100% {
                transform: scale(1.1);
      }
}
